<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <div>Sua requisição não pode ser completada.</div>
    <div>
      Por favor, verifique se sua requisição atende os seguintes critérios
      <ul>
        <li>
          Valor por quilômetro e valor de carga e descarga devem estar iguais ou
          acima do
          <a
            href="https://anttlegis.antt.gov.br/action/UrlPublicasAction.php?acao=abrirAtoPublico&cod_modulo=161&cod_menu=6616&num_ato=00005867&sgl_tipo=RES&sgl_orgao=DG/ANTT/MI&vlr_ano=2020&seq_ato=000"
            target="_blank"
            >piso mínimo</a
          >
          definido pela
          <a href="https://www.gov.br/antt/pt-br" target="_blank">ANTT</a>
        </li>
      </ul>
    </div>
  </body>
</html>
